g#accept, g#reject {
    fill-opacity: 0.65;
}

div.tm-FSMPanel {
    width: inherit;
    height: inherit;
}

/* g.pan-zoom {
    cursor: move;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
} */